ion-avatar{
    height: 10%;
    width: auto;
    max-width: 15%;
    margin: auto;
    display: block;
    position: relative;
    padding: 2%;
  }

  ion-title{
    font-size: 2rem;
  }
  ion-button{
    margin-bottom: 20%;
  }

  .wrap{
    box-shadow: 0px 0px 1.69px #2baccc;
  }