

<ion-content color="secondary">
  <ion-grid fixed>
    <ion-row  class="ion-text-center ion-padding-top ion-justify-content-center">
      <ion-col size="12" class="ion-justify-content-center">
        <ion-card color="secondary" class="wrap">
          <ion-avatar>
            <ion-img src="./assets/icon/defaultUserIcon.svg"></ion-img>
          </ion-avatar>
          <ion-title>{{ username }}</ion-title>
          <ion-button (click)="editProfile()" size="small" expand="fill" fill="clear" shape="round">
            <ion-icon name="create-outline" size="medium"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>