<ion-toolbar>
  
  <!-- Titel og link tilbake til hjemmeside -->
    <ion-button routerLink="/home" fill="clear" id="tittel">
      <ion-title>Inventar System</ion-title>
    </ion-button>
  
  <!-- Vis tilbakeknapp hvist man ikke er på hjemmesiden -->
  <ion-buttons slot="start" *ngIf="!router.url.includes('/home')">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>

  <!-- Vis bruker avatar, brukernavn og meny hvist bruker er logget inn -->
  <ion-item slot="end" *ngIf="loggedin">

    <!-- Proiflbilde -->
    <ion-avatar slot="start" routerLink="/profil">
      <ion-img src="./assets/icon/defaultUserIcon.svg"></ion-img>
    </ion-avatar> 

    <!-- Brukernavn, åpner popover meny -->
    <ion-button (click)="openMenu($event)" fill="clear">
      <ion-label>{{username}}</ion-label>
    </ion-button>  
  </ion-item>

  <!-- Vis hvist bruker ikke er logget inn -->
  <!--
  <ion-item slot="end" *ngIf="!loggedin"> 
    <ion-button (click)="login()" fill="clear">
      <ion-label>Login</ion-label>
    </ion-button>  
  </ion-item>
  -->

</ion-toolbar>