
<ion-content color="secondary">
  <ion-grid fixed>
     <!-- Titel -->
     <ion-row  class="ion-text-center ion-padding-top">
      <ion-col size="12">
        <ion-title>Utsjekk</ion-title>
      </ion-col>
    </ion-row>

    <!-- Søke Felt -->
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-searchbar showCancelButton="focus" color="primary" autocorrect="on" enterkeyhint="enter"></ion-searchbar>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <!-- Liste av tilgjengelig inventar -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <table id="myTable">
            <thead>
               <tr>
                <th>Uid</th>
                <th>Navn</th>
                <th>Status</th>
                <th>Plassering</th>
                <th>Kommentar</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let inv of inventar">
                <tr *ngIf="inv['status']">
                  <td> {{ inv['uid'] }} </td>
                  <td> {{ inv['name'] }} </td>
                  <td> {{ inv['status'] }} </td>

                  <td> {{ inv['location'] }} </td>
                  <td> {{ inv['comment'] }} </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>
  <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
  });

</script>
</ion-content>

