<ion-header [translucent]="true">
  <app-navbar></app-navbar>
</ion-header>


<ion-content>
  <ion-grid fixed>
    <ion-row  class="ion-text-center ion-padding-top">
      <ion-col size="12">
        <ion-title>Admin</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="error">{{error}}</div>
<div *ngIf="success">{{success}}</div>
    
<div id="theList">
  <table>
    <thead>
      <tr>
        <th>Navn</th>
        <th>UID</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let inv of inventar">
        <tr>
          <td> {{ inv['name'] }} </td>
          <td> {{ inv['uid'] }} </td>
          <td> {{ inv['status'] }} </td>
        </tr>
      </ng-container>
      
    </tbody>
  </table>



  
</div>
  
</ion-content>