<ion-header [translucent]="true">
  <app-navbar></app-navbar>
</ion-header>


<ion-content>
  <ion-grid fixed>
    <ion-row  class="ion-text-center ion-padding-top">
      <ion-col size="12">
        <ion-title>Admin</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="error">{{error}}</div>
<div *ngIf="success">{{success}}</div>
    
<div id="theList">
  <h2>Inventar:</h2>
  <ul>
    <li *ngFor="let Inventar of inventar">{{Inventar.navn}} | {{Inventar.uid}} </li>
  </ul>
</div>
  
</ion-content>