<ion-header [translucent]="true">
  <app-navbar></app-navbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
   <ion-row class="ion-align-items-center">

    <ion-col size="12" class="ion-text-center" *ngIf="loggedin">
      <div class="container">
        <ion-button routerLink="/utsjekk" fill="outline" size="large">Utsjekk</ion-button>
        <ion-button routerLink="/innsjekk" fill="outline" size="large">Innsjekk</ion-button>
    </div>
    </ion-col> 
    <ion-col size="12">
      <app-login-form></app-login-form>
    </ion-col>
  </ion-row>  
 </ion-grid>
</ion-content>
